.nomineeSubhead {
	font-weight: bold;
	color: #CC0000;
	line-height: 16px;
}
td {
	font: 10px verdana;
}
.nomineeSubcontentBLK {
	color: #000000;
	font-weight: normal;
}
.nomineeSubcontentWhite {
	font-weight: normal;
	color: #FFFFFF;
}
body {
	background-color: #FFFFFF;

}
.contentHeader {
	font-family: Arial;
	font-size: 18px;
	font-weight: bolder;
	color: #FFFFFF;
}
.formCopy {
	font-weight: bolder;
	color: #12663E;
	font-family: Arial, Verdana;
	font-size: 14px;
}
a.subnav {
	text-decoration: none;
	font: bold 14px Arial;
}
a.subnav:link, a.subnav:visited {
	color: #FFFFFF;
	text-decoration: none;
}
a.subnav:hover, a.subnav:active {
	color: #999999;
}
.footer {
	font: bold 10px Arial;
	color: #FFFFFF;
	text-decoration: none;
}
.contentHeader2 {
	font: bold 14px Arial;
	color: #FFFFFF;
}
.contentHeader2BLK {
	font: bold 14px Arial;
	color: #000000;
}
.content {
	font: bold 10px/18px Verdana;
	color: #000000;
}
.largeGreen {
	font: bolder 24px Arial;
	color: #006633;
}
.greyMedium {
	font: bold 16px Arial;
	color: #999999;
}
.contentHeaderBLK {
	font: bolder 18px Arial;
	color: #000000;
}
.mini {
	font: 9px arial;
}
